{% autoescape off %}
Hi {{ user.get_username }},

You requested a password reset for your Capstone account.
Click the link below to choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Only enter this code on an official website or app. Don't share it with anyone. We'll never ask for it outside an official platform.

If you didn't request this, you can safely ignore this email and your password will stay the same.

Thanks,
The Capstone Team
{% endautoescape %}
